<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">TinyApp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <% if(user) { %>
        <a class="nav-link" href="/urls">My URLS <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/urls/new">Create New URL</a>
      </li>
      <% } else { %>
      <li class="nav-item">
        <a class="nav-link" href="/register">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login"">Login</a>
            </li>
            <% } %>
        </ul>
          <% if(user) { %>
          <form class=" form-inline" method="POST" action="/logout">
          <div class="col-auto">
            <h6 class="text-white bg-dark"> Logged in as: <%= user.email %></h>
              <button type="submit" class="btn btn-secondary btn-sm">Logout</button>
          </div>
          </form>
          <% } %>
  </div>
</nav>
</header>